<nav class="nav menu-background" id="mainNav" role="navigation">
	<div class=" nav-wrapper container parent-hover">
		<a id="logo-container" href="#" class="brand-logo second-color title-font relative ">
			<check if="{{ @siteOptions['params']['siteLogo'] }}">
				<img style="height: 1em; width: auto; margin-right: 20px; vertical-align: middle; padding: 0 0 5px 0"  src="{{@siteOptions['params']['siteLogo']}}" alt="Logo de {{ @siteOptions['params']['title']}}">
			</check>
			<check if="{{ @siteOptions['params']['titleSize'] === 'small' }}">
				<span id="siteTitle" style="font-size: 0.9em !important; vertical-align: middle">{{ @siteOptions['params']['title']}}</span>
			</check>
			<check if="{{ @siteOptions['params']['titleSize'] === 'medium' }}">
				<span id="siteTitle" style="font-size: 1.2em !important;vertical-align: middle">{{ @siteOptions['params']['title']}}</span>
			</check>
			<check if="{{ @siteOptions['params']['titleSize'] === 'large' }}">
				<span id="siteTitle" style="font-size: 1.6em !important;vertical-align: middle">{{ @siteOptions['params']['title']}}</span>
			</check>
			<check if="{{ @isAdmin && @isAdminPage }}">
				<a  href="#!" class="btn-floating waves-effect waves-light frama-orange hover-frama-purple absolute tooltipped children-hover "   data-position="bottom"
					data-delay="350" data-tooltip="Editer le titre" style="top: 0px; left: -50px; " id="goToEditParams">
					<i style=" top: -10px;height: 40px; vertical-align: middle" class="material-icons relative">edit</i>
				</a>

			</check>

		</a>

		<ul class="right hide-on-med-and-down">
			<check if="{{ @siteOptions['params']['isPublished'] || @isAdminPage}}">
				<repeat group="{{ @siteStructure }}" value="{{ @section }}">
					<check if="{{ @section['inMenuAs'] }}">
						<li class="relative ">
							<a href="#{{@section[id]}}" class="second-color main-font">{{@section['inMenuAs']}}</a>
							<check if="{{ @isAdmin && @isAdminPage }}">
								<a  href="#!" class="btn-floating waves-effect waves-light frama-orange hover-frama-purple absolute tooltipped show-on-li-hover editMenuLabel"   data-position="right"
									data-delay="350" data-tooltip="Modifier" style="top: 3px; left: -40px" id="editMenuLabel-{{@section['id']}}-{{@section['inMenuAs']}}"><i class="material-icons">edit</i></a>
								<a  href="{{'/admin/edit/remove_from_menu?id='. @section['id'].'&CSRFToken='.@CSRFToken}}" class="btn-floating waves-effect waves-light frama-orange hover-frama-purple absolute tooltipped show-on-li-hover "   data-position="right"
									data-delay="350" data-tooltip="Retirer du menu"  style="top: 43px;left: -40px" ><i class="material-icons">clear</i></a>

							</check>
						</li>
					</check>
				</repeat>
			</check>

		</ul>
	</div>
</nav>