
	<div class="row absolute no-margin addSectionBtn-parent " style="top: -38px;padding: 10px 0 !important;	 width: 100%;">
		<a class="modal-trigger addSectionBtn " href="#addSectionModal" id="addSection-{{@positionReference}}-{{@reference}}">
			<div class="frama-orange white-text absolute light-shadow " style="z-index: 1000;width: 100% ; top : 28px; padding-left: 100px ">
				Insérer une section ici</div>
			<span class="btn-floating btn-large waves-effect waves-light frama-orange relative" style=" left: 10px ; z-index: 1001;" ><i class="material-icons medium">add</i></span>
		</a>


	</div>

