<div id="addSectionModal" class="modal modal-fixed-footer big-modal" style="background-color: rgba(255,255,255,0.90) !important;">
	<div class="modal-content ">
		<h4 class="grey-text">Ajouter une section</h4>
		<div class="twoColumn">
			<repeat group="{{ @modulesList }}" value="{{ @module }}">
				<check if="{{ @module['hidden'] }}">
					<true>
					</true>
					<false>
						<div class="row">
							<div class="card chooseModuleBtn hoverBorderInBox light-shadow" style="background-color: rgb(255,255,255) !important; cursor: pointer; padding: 20px" id="chooseModuleBtn-{{@module[name]}}">
								<div class="card-image">
									<img src="app/views/modules/{{@module[name]}}/preview.png">
									<span class="card-title white-text" style="width: 100% !important; padding: 10px; background-color: rgba(0,0,0,0.5)">{{@module[title]}}</span>
									<span class="btn-floating halfway-fab waves-effect waves-light frama-orange hover-frama-purple "><i class="material-icons">add</i></span>
								</div>
								<div class="card-content">
									<p>{{@module[description]}}</p>
								</div>
							</div>
						</div>
					</false>
				</check>

			</repeat>
		</div>

	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
	</div>
</div>
<include href="./base/editBtns/addSectionForm.htm"/>