<div class="row">
	<h3 class="center-align frama-purple-text">Découvrir les pages FramaSite</h3>
	<div class="col s12 "></div>
	<div class="container">
		<div class="row  center-align">
			<iframe class="frama-orange light-shadow white-text"  width="560" height="315" src="https://peertube.cpy.re/videos/embed/bc5b5ab6-b322-43c3-8881-0d4f17974ca6" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="row">
			<div class="col s12 m5">
				<div class="frama-purple light-shadow white-text" style="padding: 20px; border-radius: 10px">
					<h5 class="center-align">Grâce à ses modules variés, il conviendra parfaitement à de nombreuses
						utilisations :</h5>
					<ul class="helpDiscoverUL">
						<li class="light-shadow"><b>Réalisation d'un CV en ligne</b></li>
						<li class="light-shadow"><b>Portfolio d'artiste ou de créateur</b></li>
						<li class="light-shadow"><b>Vitrine de votre association</b></li>
						<li class="light-shadow"><b>Présentation de votre travail d'artisan</b></li>
						<li class="light-shadow"><b>Page d'accueil d'un festival</b></li>
						<li class="light-shadow"><b>Et tout ce que votre créativité en fera ... </b></li>
					</ul>
				</div>
			</div>
			<div class="col s12 m7" style="padding:  0 0 0 30px !important;">
				<div class="row  valign-wrapper">
					<div class="col s3">
						<div class="" style="width: 70px">
							<img class="responsive-img" src="public/img/logo-frama.png" alt="framasoft logo"></div>
					</div>
					<div class="col s9">
						<p>
							<b>Framasite</b> est construit a l'aide du système de gestion de contenu
							<a href="https://framagit.org/framasoft/PrettyNoemieCMS">PrettyNoemieCMS</a> qui à été conçu
							pour l'occasion par <a href="https://framasoft.org/">Framasoft</a>.
						</p>
						<p>
							C'est un outil <b>libre</b>, c'est à dire <b>open-source</b> et créé avec une <b>éthique</b>
							visant l'émancipation.
						</p>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s9">

						<p>
							Il offre à ses utilisateur une solution <b>ergonomique</b>, <b>simple</b> et <b>élégante</b>
							pour construire en un rien de temps des sites vitrines responsives au design moderne.
						</p>
					</div>
					<div class="col s3">
						<div class="row center-align"><i class="material-icons medium frama-purple-text">important_devices
						</i>
						</div>
					</div>
				</div>
				<div class="row valign-wrapper">
					<div class="col s3">
						<div class="row center-align"><i class="material-icons medium frama-purple-text">extension</i>
						</div>
					</div>
					<div class="col s9">

						<p>
							la construction de votre site consistera à <b>agencer</b> à votre convenance des <b>modules
							variés</b>, d'éditer leurs contenus, et de personnaliser votre site en choisisant les <b>polices</b>
							de caractère,
							la <b>mise en forme</b> du texte, ainsi que les <b>couleurs</b> d'affichage
						</p>

					</div>

				</div>
				<p class="center-align"><a href="https://soutenir.framasoft.org" class="btn frama-orange hover-frama-purple  waves-light waves-effect"><i class="material-icons left">favorite</i>Soutenir Framasoft</a></p>
				<p class="center-align"><a href="https://www.patreon.com/robinbanquo" class=" frama-purple-text  waves-light waves-effect">Soutenir directement l'auteur de PrettyNoemieCMS<i class="material-icons right">favorite</i></a></p>
				<p class="center-align"><a href="https://contact.framasoft.org/" class="btn-flat hover-frama-orange waves-light waves-effect"><i class="material-icons left">help</i>Je
					rencontre un problème</a></li></p>


			</div>

		</div>

	</div>
</div>
