<h3 class="center-align frama-purple-text">Personnaliser votre Framasite</h3>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Choisir un thème graphique</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso1_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Dans le coin en haut à droite, <b>cliquez sur paramètres du site</b> pour afficher la fenetres de paramètres
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso1_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Dans le menu supérieur, <b>cliquez sur "thèmes"</b> pour ouvrir le gestionnaire de thèmes
					</p>
				</div>
			</li>
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso1_3.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_pad</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Cliquez ensuite sur le theme </b>que vous préférez pour l'appliquer à votre site
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Personnaliser votre thème</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso2_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Dans la fenêtre de selection de thèmes, en bas à gauche, <b>Cliquez sur le bouton "utiliser un theme personalisé"</b> pour ouvrir l'outil de personalisation.
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso2_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Modifier les couleurs</b> à votre convenance, puis  <b>cliquez sur "appliquer" </b> pour appliquer votre thème à votre Framasite
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Choisir vos polices de caractères</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso3_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Dans le menu supérieur du panneau de parametres, <b>cliquez sur "Polices"</b> pour ouvrir le gestionnaire de polices
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper" style="margin: 10px 0 !important;">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso3_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Cliquez sur le jeux de polices </b>de votre choix pour l'appliquer à votre Framasite
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col s3 ">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">warning</i>
					</div>
				</div>
				<div class="col s9 ">
					<p>
						Toutes <b>les polices n'ont pas la même taille</b>, il se peut que vous soyez obligé de <b>reprendre la mise en forme</b> du texte de certains modules
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div style="margin: 30px">
	<div class="frama-purple white-text light-shadow" style="padding: 20px; border-radius: 10px">
		<h5 class="center-align">Modifier les paramètres avancés</h5>
		<ul class="helpDiscoverUL">
			<li class="light-shadow row valign-wrapper">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso3_1.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">touch_app</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						Dans le menu supérieur du panneau de paramètres, <b>cliquez sur "Paramètres"</b> pour ouvrir le gestionnaire de paramètres avancés
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper" style="margin: 10px 0 !important;">
				<div class="col m5 s12">
					<img class="responsive-img" src="public/img/help/perso4_2.png" alt=""></div>
				<div class="col s3 m1">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">format_list_bulleted
						</i>
					</div>
				</div>
				<div class="col s9 m6">
					<p>
						<b>Modifiez les champs du formulaire </b> afin de personnaliser les paramètres avancés de votre Framasite puis cliquez sur enregistrer
					</p>
				</div>
			</li>
			<li class="light-shadow row no-margin valign-wrapper">
				<div class="col s3 ">
					<div class="row center-align">
						<i class="material-icons medium frama-purple-text">warning</i>
					</div>
				</div>
				<div class="col s9 ">
					<p>
						Vous devez avoir <b>enregistré </b>les changements sur votre site <b>avant de pouvoir sauvegarder vos paramètres</b>
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>