<div class="main-background">
	<div class="container module ">
		<div class="section relative" style="padding : 0 !important;">
			<repeat group="{{ [0,1,2,3] }}" value="{{ @index }}">
				<check if="{{ @fields['date'.@index]['value'] || @isAdminPage }}">
					<check if="{{ @fields['date'.@index]['value'] }}">
						<true>

						</true>
						<false>
							<p class="infoModule white-text no-margin relative center-align"
							   style="font-size: small; width : 50%;padding: 2px !important; border-radius: 5px; left: 25%">
								<i>Seul les champs avec une date complétée seront visibles</i>
							</p>
						</false>
					</check>
					<check if="{{ @index%2 === 0 }}">
					<true>
						<div class="row no-margin relative valign-wrapper">
							<div class="col s6  " style="padding: 20px 0">
								<div class="row no-margin ">
									<div class="col s12 m8 offset-m2 l6 offset-l3">

										<div class="showOnScrollRight right-align second-background second-color relative center-align main-font editable center-align light-shadow" id="moduleValue-date{{@index}}" style="padding: 10px ; border-radius: 10px;left: -1500px ">
											{{@fields['date'.@index]['value'] | raw}}

										</div>
									</div>
								</div>

							</div>
							<div class="second-background absolute light-shadow" style="width: 4px; height: 100%; right: 50%; margin-right: -2px"></div>
							<div class="second-background absolute light-shadow valign-wrapper"
								 style="height: 40px; width: 40px; top: 50%; right: 50%; border-radius: 50%; margin: -20px -20px 0 0 ">
								<i class="center-align small material-icons second-color relative" style="left: 5px;">av_timer</i>
							</div>
							<div class="col s6  " style="padding: 0px 0 0px 50px ">
								<div class="row no-margin">
									<div class=" second-color title-font editable center-align" id="moduleValue-title{{@index}}" style="margin: -35px 0px !important;">
										{{@fields['title'.@index]['value'] | raw}}
									</div>
								</div>
								<div class="row no-margin">
									<div class=" main-color main-font editable center-align" id="moduleValue-content{{@index}}">
										{{@fields['content'.@index]['value'] | raw}}
									</div>
								</div>

							</div>
						</div>
					</true>
					<false>
						<div class="row no-margin relative valign-wrapper">
							<div class="col s6  " style="padding: 0px 50px 0px 0px ">
								<div class="row no-margin">
									<div class=" second-color title-font editable center-align" id="moduleValue-title{{@index}}" style="margin: -35px 0px !important;">
										{{@fields['title'.@index]['value'] | raw}}
									</div>
								</div>
								<div class="row no-margin">
									<div class=" main-color main-font editable center-align" id="moduleValue-content{{@index}}">
										{{@fields['content'.@index]['value'] | raw}}
									</div>
								</div>

							</div>
							<div class="col s6  " style="padding: 10px 0">
								<div class="row no-margin ">
									<div class="col s12 m8 offset-m2 l6 offset-l3">
										<div class="showOnScrollLeft right-align second-background second-color center-align relative main-font editable center-align light-shadow" id="moduleValue-date{{@index}}" style="padding: 10px ; border-radius: 10px;left: +1500px ">
													{{@fields['date'.@index]['value'] | raw}}
										</div>
									</div>
								</div>

							</div>
							<div class="second-background absolute light-shadow" style="width: 4px; height: 100%; right: 50%; margin-right: -2px"></div>
							<div class="second-background absolute light-shadow valign-wrapper"
								 style="height: 40px; width: 40px; top: 50%; right: 50%; border-radius: 50%; margin: -20px -20px 0 0 ">
								<i class="center-align small material-icons second-color relative" style="left: 5px;">av_timer</i>
							</div>

						</div>
					</false>
					</check>

				</check>

			</repeat>

		</div>
	</div>
</div>
