<div class=" relative module" style="overflow: hidden">
	<check if="{{ @isAdminPage }}">
		<a class="btn-floating waves-effect waves-light lightButton absolute tooltipped moduleBtn modal-trigger" href="#editVideobgModal" data-position="right"
		   data-delay="250" data-tooltip="Choisir la vidéo d'arrière plan" style=" left: 50px; top: 50px; z-index: 1000">
			<i class="material-icons">play_circle_filled</i></a>

	</check>
	<div class="video-background">
		<div class="video-foreground">
			<div class="Videobg-container" id="VideobgContainer-{{@id}}">
				<check if="{{ @fields['VideobgType']['value'] == 'youtube'}}">
					<iframe width="560" height="315" src="//www.youtube.com/embed/{{@fields['VideobgId']['value']}}?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist={{@fields['VideobgId']['value']}}" frameborder="0" allowfullscreen></iframe>
				</check>

			</div>

		</div>
	</div>
	<div class="screen {{@fields['filter']['value']}}" style="   z-index: -10 " id="VideobgFilter-{{@id}}"></div>
	<div class="container">
		<div class="section relative valign-wrapper" style="min-height: 90vh !important;">

			<div class="  relative  center-align" style="width: 100% !important;">
				<div class="  contrasted-color title-font editable center-align" id="moduleValue-text" style="font-size: 170%">
					{{@fields['text']['value'] | raw}}
				</div>
			</div>

		</div>


	</div>
</div>
</div>
<check if="{{ @isAdminPage }}">
	<div id="editVideobgModal" class="modal modal-fixed-footer ">
		<div class="modal-content ">
			<h5 class="grey-text">Choisir une vidéo</h5>
			<div class="row valign-wrapper tooltipped frama-orange shadow-bottom" data-position="bottom"
				 data-delay="250" data-tooltip="Copiez l'adresse de votre vidéo dans la barre d'adresse" style="padding: 15px; border-radius: 5px; ">
				<div class="col s2">
					<i class="material-icons white-text medium">content_cut</i></p>
				</div>
				<div class="col s10 no-padding">
					<img class="responsive-img no-padding no-margin" style="border-radius: 4px" src="app/views/modules/video/capture.png" alt="capture d'écran youtube">
				</div>
			</div>


			<form class="editVideobgForm" id="editVideobgForm-{{@id}}">
				<div class="row " style="margin-top: 30px">
					<p class="frama-purple-text center-align">Seules les vidéos de <b>Youtube</b> fonctionnent actuellement
						pour ce module</p>

					<div class="input-field displaynone">

						<select name="VideobgFilter">
							<option value="filter-grille" selected>Grille</option>
							<option value="filter-noScreen">Aucun</option>
							<option value="filter-dark">Sombre</option>
							<option value="filter-soft">Clair</option>
							<option value="filter-blue">Bleu</option>
							<option value="filter-orange">Orange</option>
							<option value="filter-red">Rouge</option>
							<option value="filter-green">Vert</option>
						</select>
						<label>Sélectionnez un filtre</label>
					</div>
					<div class="input-field col s12 ">
						<input name="VideobgUrl" type="url" required class="validate grey-text text-darken-3 " value="https://www.youtube.com/watch?v={{@fields['VideobgId']['value']}}">
						<label for="value">Collez l'dresse de votre vidéo Youtube <b>ici</b></label>
					</div>

				</div>
				<h6 class="grey-text text-darken-2">Choisir un filtre à appliquer à votre vidéo</h6>
				<div class="row center-align">

					<repeat group="{{ ['filter-noScreen','filter-grille','filter-dark','filter-soft','filter-blue','filter-orange','filter-red','filter-green'] }}" value="{{ @filter }}">
						<div class="relative selectFilter {{@filter == 'filter-grille' ? 'border-orange' : '' }}" style=" cursor:pointer; display: inline-block;overflow: hidden ; width: 60px; height: 60px; margin: 2px" id="selectFilter-{{@id}}-{{@filter}}">
							<div class="absolute {{@filter}}" style="z-index: 6000; top: 0; bottom: 0; right: 0; left: 0; height: auto "></div>
							<img src="app/views/modules/videobg/picture.png" class="responsive-img" style="z-index: -15" alt="">
						</div>
					</repeat>
				</div>
				<div class="row">
					<div class="col s12 center-align">
						<button type="submit" class="btn frama-purple hover-frama-orange waves-effect waves-light btn">
							<i class="material-icons right">done</i>Valider
						</button>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
		</div>
	</div>
</check>