<div class="menu-background module">
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
			integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
			crossorigin=""></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
		  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
		  crossorigin=""/>
	<div class="container  ">
		<div class="section" style="padding-top: 50px !important;padding-bottom: 50px !important;">
			<div class="row valign-wrapper no-margin">
				<div class="col s12 l5  ">
					<div class="  second-color main-font editable center-align" id="moduleValue-title">
						{{@fields['title']['value'] | raw}}
					</div>
				</div>

				<div class="col s12 l7 relative" style="padding-left: 30px">
					<check if="{{ @isAdminPage }}">
						<a class="btn-floating waves-effect waves-light lightButton absolute tooltipped moduleBtn editMap" data-position="left"
						   data-delay="250" data-tooltip="Paramétrer la carte" id="#editMap-{{@id}}" style=" right: -15px; top: -25px; z-index: 1000">
							<i class="material-icons">settings</i>
						</a>
						<p id="editMapLabel-{{@id}}" class="displaynone light-shadow white-text frama-orange " style="padding: 20px; width: 100% ; margin:0 0 10px 0 ; border-radius: 10px ">
							Cliquez sur la carle pour positionner votre curseur
						</p>
					</check>

					<div class='OSMap light-shadow' id="mapid-{{@id}}" style="height: 450px; border-radius: 10px" lon="{{@fields['lon']['value']}}" lat="{{@fields['lat']['value']}}"></div>
				</div>
			</div>
		</div>
	</div>
</div>

