<div class="main-background">
	<div class="container module ">
		<div class="section" style="padding-top: 40px !important;padding-bottom: 40px !important;">
			<div class="row">
				<div class="col s12 l6 offset-l3  ">
					<div class="  second-color main-font editable center-align" id="moduleValue-title">
						{{@fields['title']['value'] | raw}}
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col s12  main-color main-font editable" id="moduleValue-content" style="text-align: justify">
					{{@fields['content']['value'] | raw}}
				</div>
			</div>
		</div>
	</div>
</div>
