<div id="siteOptionsModal" class="modal modal-fixed-footer big-modal" style="background-color: rgba(255,255,255,0.90) !important;">
	<div class="modal-content no-padding" >

		<div class="row  no-margin">
			<div class="col s12 no-padding" style="margin-bottom: 20px !important;">
				<ul class="tabs .tabs-fixed-width fixed shadow-bottom" style="z-index: 6000">
					<li class="tab col s3"><a class="frama-orange-text" href="#options-themes">Thèmes</a></li>
					<li class="tab col s3"><a class="frama-orange-text" href="#options-fonts">Polices</a></li>
					<li class="tab col s3"><a class="frama-orange-text" href="#options-medias">Medias</a></li>
					<li class="tab col s3"><a class="frama-orange-text" href="#options-params">Parametres</a></li>
				</ul>
			</div>
			<div class="row" style="margin-bottom: 50px"></div>
			<div id="options-themes" class="col s12">
				<include href="./base/siteOptionsModal/themesManagment/themesManagment.htm"/>
			</div>
			<div id="options-fonts" class="col s12">
				<include href="./base/siteOptionsModal/fontsManagment/fontsManagment.htm"/>
			</div>
			<div id="options-medias" class="col s12" >
				<include href="./base/siteOptionsModal/mediaManagment/mediaManagment.htm"/>
			</div>
			<div id="options-params" class="col s12">
				<include href="./base/siteOptionsModal/paramsManagment/paramsManagment.htm"/>
			</div>
		</div>

	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">clears</i></a>
	</div></div>
