<div class="fixed-action-btn horizontal fab-menu-btn click-to-toggle"
	 style="top: 10px; right: 10px; height: 60px !important; z-index: 6000 !important; ">
	<a class="btn-floating btn-large frama-purple hover-frama-orange waves-effect waves-light tooltipped" data-position="bottom"
	   data-delay="350" data-tooltip="connecté en tant que {{@SESSION.user}}" id="mainAdminBtn" style="z-index: 30000 !important;">
		<span class="grey-text text-lighten-4" style="font-size: 1.8em">{{@SESSION.user[0]}}</span>
	</a>
	<ul class="right-align" style="width: 200px !important;">
		<li class="inline-block small-margin">
			<a href="logout" class="btn-floating hover-frama-orange frama-purple tooltipped waves-effect waves-light" data-position="bottom"
			   data-delay="350" data-tooltip="Déconnexion" >
				<i class="material-icons  grey-text text-lighten-4">exit_to_app</i>
			</a>
		</li>
		<check if="{{ @isAdminPage }}">
			<true>
				<li class="inline-block small-margin">
					<a href="/" class="btn-floating hover-frama-orange frama-purple tooltipped waves-effect waves-light switchViewBtn" data-position="bottom"
					   data-delay="350" data-tooltip="Voir le site tel que vos visiteurs le voient" >
						<i class="material-icons  grey-text text-lighten-4">remove_red_eye</i>
					</a>
				</li>
				<li class="inline-block small-margin">
					<a class="btn-floating hover-frama-orange frama-purple tooltipped waves-effect waves-light modal-trigger" href="#siteOptionsModal" data-position="bottom"
					   data-delay="350" data-tooltip="Options du site" >
						<i class="material-icons  grey-text text-lighten-4">settings</i>
					</a>
				</li>
			</true>
			<false>
				<li class="inline-block small-margin">
					<a href="admin" class="btn-floating hover-frama-orange frama-purple tooltipped waves-effect waves-light switchViewBtn" data-position="bottom"
					   data-delay="350" data-tooltip="Retour à la page d'édition" >
						<i class="material-icons  grey-text text-lighten-4">edit</i>
					</a>
				</li>
			</false>
		</check>

	</ul>
</div>